# Interlude 2: Vectors and Data Frames

### Useful background

In [1]:
# There are several ways to extract data from a vector. Here is a summary showing both slicing and 
# extraction by conditionals (logic). Experiment with these operations to solve the problems below.
# 
# length(x)     # how many elements?
# x[2]          # return ith element; (i = 2)
# x[-2]         # return all but ith element; (i = 2)  
# x[1:5]        # return first k elements; (k = 5) 
# x[(length(x)-5+1):length(x)]    # return last k elements; (k = 5)
# x[c(1,3,5)]                   # return specific elements; (First, 3rd and 5th)
# x[x>3]                        # return all elements that are greater than some value (the value is 3) 
# x[ x< -2 | x > 2]             # return elements bigger than or less than some values (the value is 2) 
# which(x == max(x))            # return index that corresponds to the largest value

## I. Accessing data in vectors

In [3]:
# define the vector x by running the following line:
x = c(313, 284, 311, 280, 322, 324, 302)

# Use the class(), dim(), and str() functions to learn about the vector x.

## II. Vectors and type

In [4]:
# a. Create a variable w, a vector containing three character strings, such as:
w = c("red", "orange", "green")  

# b. Create a variable y, a vector containing any three numeric values.

# c. Create a vector x, containing the two vectors y and w.
# Hint: use the c() function to make a vector of vectors.	

# d. What is the type of each vector: w, y, and x? Why does x have this type? 
# Hint: Use class() to find the types.

## III. Survey and NA Data Frame exercise

In [6]:
# 1. Import the excerpted survey data frame, s,  by running the following:
library(MASS)
s = data.frame(Gender=survey$Sex, 
              Hand=survey$W.Hnd, 
              Height=survey$Height, 
              HtUnit=survey$M.I, 
              Age=survey$Age)

# Scroll through and explore the dataset. What does it contain?

In [7]:
# 2. How many rows are in the data frame s?
# 
# Hints: use the dim() function to find the data frame's dimensions,
#   or use the summary() or View() function.

In [8]:
# 3. Columns of the data frame 
#
# a. What columns are in the data frame s? What are their types?
# Hint: Use summary() on the data frame s.

# b. Are there NAs in the data frame s? In which columns? How many?

In [13]:
# 4. Accessing data in the data frame 
#
# a. Run the function str() on the data frame s. What does it tell you?

# b. Run the function head() on the data frame s. 

# c. Programmatically retrieve all Gender values from the data frame s. 
# (Write an expression in code that does this) Can you think of 3 different
# ways to do this?

# d. Confirm the following two ways to retrieve the first 10 Gender values from the data frame s:

# Retrieve the Gender column (s$Gender), then index into it like an array:
s$Gender[1:10]

# Index into the rows 1:10, then the column "Gender": s[rows, column]
s[1:10,"Gender"]

# Use summary() for the following questions. Notice that it works on numeric or
# categorical data:

# e. Find the min and max ages in the dataset. Did any subjects not report an age?

# f. Find the counts of females and males in the dataset. Did any subject not report a
# gender? How many?

# g. Find the counts of left and right-handedness in the dataset. Did any subjects not report a
# handedness? How many?

 [1] Female Male   Male   Male   Male   Female Male   Female Male   Male
Levels: Female Male

 [1] Female Male   Male   Male   Male   Female Male   Female Male   Male
Levels: Female Male

### Using which()

In [14]:
# Use which() to help subset the data frame for the following questions:

# h. Print out the rows describing all left-handed females in the dataset. How would you get 
# rid of NAs? Try using which().

# i. How many males under age 18 in the dataset? List their heights, with units. Did any
# not report a height? How many?

### Subsets without NAs

In [15]:
# Create a subset of the data frame that contains no NAs. In other words, we will create a new data frame that excludes 
# all rows that are incomplete (have NAs) for any of the measures 
# Gender, Hand, Height, and Age. 

# sg2 = na.omit(s)

In [16]:
# Find the mean and range for Age, on both the original dataset and the new dataset. 
# Ensure you do not get NA for any answer (Hint: use na.rm=TRUE, or summary(), on the 
# original dataset)
#
# Do you see differences between the two sets of calculations? If so, why?